<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.project1.mapper.InsurancesMapper">
  <resultMap id="BaseResultMap" type="com.example.project1.pojo.Insurances">
    <constructor >
      <idArg column="id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="batch" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    batch, id, name, phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from insurances
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from insurances
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.example.project1.pojo.Insurances" >
    insert into insurances (id,batch,name,phone)values(#{id,jdbcType=CHAR}, #{batch,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{phone,jdbcType=CHAR});
  </insert>
  <insert id="insertSelective" parameterType="com.example.project1.pojo.Insurances" >
    insert into insurances
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="batch != null" >
        batch,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="batch != null" >
        #{batch,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.project1.pojo.Insurances" >
    update insurances
    <set >
      <if test="batch != null" >
        batch = #{batch,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.project1.pojo.Insurances" >
    update insurances
    set batch = #{batch,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <!-- 批量插入 -->
  <insert id ="insertInsurancesBatch" parameterType="java.util.List" >
    insert into insurances(batch,id,name,phone) values
    <foreach collection ="list" item="insurance" index= "index" separator =",">
      (
      #{insurance.batch},
      #{insurance.id},
      #{insurance.name},
      #{insurance.phone}
      )
    </foreach>
  </insert>

  <select id="selectInsuranceListLimitTen" resultMap="BaseResultMap">
    select * from insurances limit 10;
  </select>
</mapper>